.spinner {
    left: 50%;
    margin-left: -50px;
}

.quiz-page-question {
    margin: 20px;
}

.quiz-page-answers {
    display: flex;
    flex-direction: column;

    &--answer {
        margin: 20px 40px;
    }
}

.quiz-button-container {
    display: flex;
    margin-top: 30px; 

    button {
        margin: auto;
    }
}