<section class="summary-page">
    <h3> {{ 'summary.you_have_answered_x_questions' | translate: rightAnswers.length:allAnswers.length}} </h3>
    <h3> {{ 'summary.all_answers' | translate }}</h3>
    <mat-list>
        <mat-list-item class="summary-page--item" *ngFor="let item of allAnswers">
         <span>  {{ item.question }} </span>
         <span *ngIf="!item.answeredCorrectly" class="wrong"> {{item.chosenAnswer}} </span> 
         <span  class="correct"> {{item.rightAnswer}} </span> 
        </mat-list-item>
    </mat-list>
</section>