<section class="initial-page">

  <h3> {{ 'initial.choose_name' | translate }} </h3>
  
  <mat-form-field name="userName" class="initial-page--input">
      <input matInput placeholder="Your name" [(ngModel)]="userName">
  </mat-form-field>
  
  <h3> {{ 'difficulty.choose_difficulty' | translate }} </h3>
  <mat-radio-group class="initial-page--radios" [(ngModel)]="selectedLevel">
      <mat-radio-button *ngFor="let level of levels" [value]="level.id">{{level.key | translate}}</mat-radio-button>
  </mat-radio-group>

  <div class="initial-page--button-container">
    <button color="primary" [disabled]="!(selectedLevel && userName)" mat-raised-button mat-button (click)="saveUserSettings()"> {{ 'start' |translate }}</button>
  </div>
</section>